{% extends "base.html" %}
{% load bootstrap %}

{% block head_title %}stock_detail - {{item.pk}}{% endblock %}
{% block body_title %}stock_detail - {{item.pk}}{% endblock %}


{% block content %}

{# 基本情報 #}
<section>
    <h3 class="text-lg w-100 bg-success">基本情報</h3>

    <form action="" method="POST">
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>商品名</th>
            <th>アイテムID</th>
            <th>工程</th>
            <th>場所</th>
            <th>操作</th>
        </tr>

        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.id }}</td>
            <td>
                {% for progress in item.get_now_progresses %}
                    {{ progress.process.operation }}<br>
                {% endfor %}
            </td>
            <td>
                {% for progress in item.get_now_progresses %}
                    {{ progress.process.workplace }}<br>
                {% endfor %}
            </td>
            <td>
                <a href="" class="btn btn-danger">売却済み</a>
            </td>
        </tr>


    </table>
    </form>
</section>

{# 生産工程 #}
<section>
    <h3 class="text-lg w-100 bg-success">生産工程</h3>
    <table class="table">
        <tr>
            <th>工程</th>   
            <th>場所</th>
            <th>開始日</th>
            <th>期限</th>
            <th>終了日</th>
            <th>確認者</th>
        </tr>
        {% for progress in item.get_all_progresses %}
        <tr>
            <td>{{progress.process.operation}}</td>
            <td>{{progress.process.workplace}}</td>
            <td>{{progress.start_date|default:'-'}}</td>
            <td>{{progress.due_date|default:'-'}}</td>
            <td>{{progress.end_date|default:'-'}}</td>
            <td>{{progress.confirmor|default:'-'}}</td>
        </tr>
        {% endfor %}
    </table>
</section>

{# 材料 #}
<section>
    <h3 class="text-lg w-100 bg-success">材料</h3>
    <table class="table">
        <tr>
            <th>材料</th>   
            <th>必要数</th>
            <th>単位</th>
        </tr>
        {% for itemmaterial in item.itemmaterial_set.all %}
        <tr>
            <td>{{itemmaterial.material.name}}</td>
            <td>{{itemmaterial.quantity}}</td>
            <td>{{itemmaterial.material.unit}}</td>
        </tr>
        {% endfor %}
    </table>
</section>

{% endblock %}


{% block script %}
<script>
</script>
{% endblock %}