{% extends "base.html" %}
{% load bootstrap %}

{% block head_title %}stock{% endblock %}
{% block body_title %}stock{% endblock %}


{% block content %}
{# 検索フォーム #}
<form action="" class="form p-3 bg-warning">
    <label>商品名<input type="text" name="keyword" value="{{ request.GET.keyword }}" id="search_form" autocomplete="off" list="search_form_result"></label>
    <datalist id="search_form_result"></datalist>
    <button type="submit" class="btn btn-primary">検索</button>
</form>

{# 在庫リスト #}
<form action="" method="POST">
{% csrf_token %}
<button type="submit" class="btn btn-danger">選択アイテムを売却済みにする</button>
<table class="table">
    <tr>
        <th>選択</th>
        <th>商品名</th>
        <th>アイテムID</th>
        <th>工程</th>
        <th>場所
            <select name="workplace" id="workplace_select">
                <option value=""></option>
                <option value="">hoge</option>
                <option value="">piyo</option>
                <option value="">fuga</option>
            </select>
        </th>
        <th>操作</th>
    </tr>

    {% if not items %}
        <tr> <td colspan="6" class="text-center">該当商品なし</td> </tr>
    {% endif %}

    {% for item in items %}
    <tr>
        <td><input type="checkbox" id="{{ item.id }}"></td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.id }}</td>
        <td>
            {% for progress in item.get_now_progresses %}
                {{ progress.process.operation }}<br>
            {% endfor %}
        </td>
        <td>
            {% for progress in item.get_now_progresses %}
                {{ progress.process.workplace }}<br>
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'jewelstock:stock_detail' pk=item.id %}" class="btn btn-primary">詳細</a>
            <a href="" class="btn btn-danger">売却済み</a>
        </td>
    </tr>
    {% endfor %}

</table>
</form>
{% endblock %}


{% block script %}
<script>

// productリストの取得
const products = [
    {% for product in products %}
    "{{ product.name }}",
    {% endfor %}
];

// #search_formを取り出す
const search_form = document.querySelector("#search_form");

search_form.addEventListener("input", (event) => {
    let results = products;
    

    // スペースを半角に統一し、スペース区切り
    let words = event.currentTarget.value.replace(/　/g, " ").split(' ').filter( w => w !== "");

    for (let word of words){

        let new_results = [];

        for (let result of results){
            
            //大文字小文字を区別せずに検索
            if( result.toLowerCase().indexOf(word.toLowerCase()) !== -1 ){
                new_results.push( result );
            }
        }
        results = new_results;

    }

    //datalistに入力候補を追加
    elems = "";
    for (let result of results){
        elems += `<option value="${result}"></option>`
    }
    const seatch_form_result = document.querySelector("#search_form_result");
    search_form_result.innerHTML = elems;

})

</script>
{% endblock %}