{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}{% endblock %}</title>
        <link rel="shortcut icon" href=""> 
        
        {# bootstrap読み込み #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" type="text/css">

        {# Google Fonts読み込み #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    
        {# flatpicker読み込み #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

        {# css読み込み #}
        <link rel="stylesheet" href="">

        {% block head %}{% endblock %}
    </head>

    <body>
        <header class="bg-primary"> 
            <a href="{% url 'signup' %}" class="btn btn-light m-2">会員登録</a>
            <a href="{% url 'login' %}"  class="btn btn-light m-2">ログイン</a>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-light m-2">ログアウト</button>
            </form>
            
            <span>
                {% if request.user.is_authenticated %}
                    ログインしています
                {% else %}
                    ログインしていません
                {% endif %}
            </span>
        </header>

        <div class="row mx-0">

        {# サイドバー #}
        {% if request.user.is_authenticated %}
        <div class="col-lg-2 navigation h-100 bg-secondary">
            <ul>
                <li><a href="{% url 'jewelstock:stock' %}">在庫管理</a></li>
                <li><a href="">発注管理</a></li>
                <li><a href="{% url 'jewelstock:progress' %}">工程管理</a></li>
                <li><a href="{% url 'jewelstock:products' %}">商品管理</a></li>
                <li><a href="">売上管理</a></li>
                <li><a href="">ユーザー管理</a></li>
            </ul>
        </div>
        {% endif %}

        {# コンテンツ #}
        <div class="col-lg-10">
            <h1>
                {% block body_title%}{% endblock %}
            </h1>
            <div class="content m-3">
                {% block content %}{% endblock %}
            </div>
        </div>

        </div>
        {% block script %}{% endblock %}
    </body>
</html>